body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding : 0;
}

span.list {
    display: list-item;
    margin-left: 2em;
    line-height: 1.0;
    margin-right: 3em;
    text-indent: -1.3em;
    list-style: none;
}

span.list:before {
    color: #333399;
    font-size: 100%;
    font-family:monospace;
    content: " ●";
}

span.list_child:before {
    color: #3366ff;
    font-family:monospace;
    content: " ●";
}

span.list_child {
    display: list-item;
    font-size: 0.9em;
    margin-left: 4em;
    margin-right: 3em;
    text-indent: -1.3em;
    line-height : 1.0;
    list-style: none;
}

#topics {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    text-align : left;
    font-size : 40px;
    font-weight: bold;
}

#topics h1 {
    font-family: Arial;
    padding : 10px;
    margin-bottom: 15px;
    font-size : 120%;
    line-height : 1;
    background-color : #e7ffe7;
    border-bottom: 1px solid #000;
    color: black;
    font-weight: bold;
    text-align: center;
}

#topics h2 {
    font-family: Arial;
    padding : 10px;
    margin-bottom: 15px;
    font-size : 120%;
    line-height : 1;
    color: black;
    margin-top: 20%;
    font-weight: bold;
    text-align: center;
}



#topics h3 {
    padding : 10px;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 15px;
    font-size : 100%;
    line-height : 1;
    background-color : #b0c4de;
    background-repeat: no-repeat;
    background-position: 98% 10px;
    border-bottom: 4px solid #778899;
    color: black;
    font-weight: bold;
}

#topics pre {
    padding: 5px;
    font-size: 70%;
    margin: 1em 5%;
    line-height: 1.0;
    background-color: #fff;
    font-weight: normal;
/*    font-family: monospace; */
    font-family: Arial;
}

#topics div {
    margin: 1em;
}

/* ------------------------------------------------------------------------- */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 3px;
    color : #000;
    padding-bottom: 1px;
    border-top: 1px solid #fff;
    background-color: #fff;
}

#footer #page_info {
    position: absolute;
}

B {
    color: red;
    font-size: 150%;
}
